.logo{
	width: 100%;
	min-height: 100px;
	background-color: pink;
}
.GrandmotherSidebar-header-body{
	overflow: hidden;
}
.Sideber{
	width: 30%;
	min-height: 550px;
	background-color: green;
	float: left;
}
.MotherSidebar{
	width: 70%;
	min-height: 550px;
	background-color: lightgreen;
	float: right;
	overflow: hidden;
}
.sidebar{
	width: 100%;
	min-height: 180px;
	background-color: blue;
	float: top;
}
.headerbody{
	width: 100%;
	min-height: 370px;
	background-color: violet;
	float: bottom;
}
.footer{
	width: 100%;
	min-height: 60px;
	background-color: red;
}